<ion-header *ngIf="iauthservice.isAuthenticated">
    <ion-toolbar color="dark" >
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

      <button ion-button (click)="logOut()" class="btnbtn">
        Logout
      </button>
    </ion-toolbar>
</ion-header>


<ion-header *ngIf="!iauthservice.isAuthenticated">
  <ion-toolbar color="dark">
    <button ion-button [navPush]="logPage">Sign In</button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col col-lg-2 col-md-3 col-sm-6 *ngFor="let add of advert">
      <ion-card>
        <button ion-button [navPush]="advertDetail" [navParams]="add">Detail</button>
        <ion-card-header [navPush]="advertDetail"
                         [navParams]="add">
          {{add.title}} - {{add.price}} €
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
